@using MudBlazor
<AuthorizeView>
    <Authorized>
        <MudButton Color="Color.Inherit" Link="Identity/Account/Manage">@context.User.Identity?.Name</MudButton>
        <a href="Identity/Account/Manage"></a>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton StartIcon="@Icons.Material.Outlined.Logout" Color="Color.Inherit" type="submit">Log out</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudButton StartIcon="@Icons.Material.Outlined.Login" Color="Color.Inherit" Link="Identity/Account/Login">Log In</MudButton>
        <MudButton StartIcon="@Icons.Material.Outlined.Create" Color="Color.Inherit" Link="Identity/Account/Register">Register</MudButton>
    </NotAuthorized>
</AuthorizeView>
