@page "/personal/account"
@using Eudwia.Shared.Features.Account.Update
@using Eudwia.Shared.Features.Account.Details
@using Eudwia.Shared.Extensions
@using Color = MudBlazor.Color
@using Align = MudBlazor.Align
@inject HttpClient _httpClient
@inject ISnackbar _snackbar

@inject AuthenticationStateProvider _getAuthenticationStateAsync
@attribute [Authorize]

<AuthorizeView>
    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">Account</MudText>
    <MudTabs Elevation="1" Rounded="true" PanelClass="mt-6">
        <MudTabPanel Text="General">
            <MudGrid>
                <MudItem xs="12" sm="4" md="3">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Public Profile</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <div class="d-flex justify-center mb-4">
                                <MudAvatar Style="height:100px; width:100px;">@_userDetails.LastName</MudAvatar>
                            </div>
                            <MudText Align="Align.Center">@_userDetails.FirstName @_userDetails.LastName</MudText>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="8" md="9">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText>Profile Details</MudText>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudGrid>
                                <MudItem xs="12" md="6">
                                    <MudTextField @bind-Value="_userDetails.FirstName" Label="First Name" Variant="Variant.Outlined" />
                                </MudItem>
                                <MudItem xs="12" md="6">
                                    <MudTextField @bind-Value="_userDetails.LastName" Label="Last Name" Variant="Variant.Outlined" />
                                </MudItem>
                                <MudItem xs="12" md="6">
                                    <MudTextField Value="context?.User?.Identity?.Name" Label="Email" Variant="Variant.Outlined" HelperText="Dont worry, we shall not spam!" Disabled="true" InputType="InputType.Email"/>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
    </MudTabs>
</AuthorizeView>

@code {
    private AccountUpdateCommand _model = new();
    private AccountDetailsViewModel _userDetails = new();

    protected override async Task OnInitializedAsync()
    {

        var authstate = await _getAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User;
        var username = user.Id();

        _userDetails = await _httpClient.GetFromJsonAsync<AccountDetailsViewModel>($"api/account/{username}") ?? new AccountDetailsViewModel();
    }
}